body {
  background-color:	#000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
}
.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.nav-links li {

    margin: 15px 20px;
}
.nav-links img {
    display: flex;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.nav-links li:not(:nth-child(3)) a {
    font-size: larger;
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
    background-color: #808080;
    border-radius: 20px;
    width: 80px; 
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-links li{
    margin: 0 40px;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px; 
    position: relative;
}

.nav-links li a::after {
    content: '';
    background: #ffbb00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 5;
    transition: .25s;
    opacity: 100%;
}
.nav-links li a:hover{
    opacity: 80%;
    transition: .3s;
    text-decoration: none;

}
.nav-links li a:hover:after{
width: 100%;
opacity: 0.5;
}
.nav-links li:nth-child(3) a:hover::after {
    /* Remove the hover styles */
    width: 0;
    opacity: 0;
}

.category a {
    color: #ffffff; 
    text-decoration: none; 
}

.category a:hover {
    text-decoration: underline;
}

.content {
    position: absolute;
    left: 50%;
    top: 40%; 
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}
.content form {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}
.content form button{
    background: #333333;
    color: #fff;
    padding: 15px 40px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}

.category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.category{
    width: 80px;
    height: 80px;
    background: rgb(0, 0, 0);
    margin: 0 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.category img{
    width: 70px;
    margin-top: 43px;
}

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
@media(min-aspect-ration: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ration: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
